#######################################################################
# Configuration file for Apple's gcc 3.3 and NAG's F95 compilers on
# Mac OS X for SPEC CPU 2000. This configuration file uses both -fast
# and feedback directed optimizations.
#
# IMPORTANT! 
#
# This configuration file has only been validated for 
# gcc 3.3 (1809) with Xcode 2.1 and NAGWare F95 compiler Release 
# 5.0(400). Mac OS X 10.4.x on a G5-based System is required.
#
# For use on a G4, it may be sufficient to add '-mcpu=7450' after
# '-fast', wherever it occurs. For Fortran Benchmarks, add 
# '-Wc,-mcpu=7450'.
#######################################################################

#######################################################################
# Global Options
#######################################################################

ext             = macosx-ppc-gcc33-nagf95-fast
action          = validate
tune            = base
iterations      = 3 
reportable      = 0
mean_anyway     = 1
output_format   = all
teeout          = 1
teerunout       = 1
check_md5       = 1

#######################################################################
# The information below is for the SPEC kit test platform
#######################################################################
default=default=default=default:
company_name    = 
hw_vendor       = 
hw_model        = 
hw_cpu          = 
hw_ncpu         = 
hw_cpu_mhz      = 
hw_ncpuorder    = 
hw_fpu          = 
hw_pcache       = 
hw_scache       = 
hw_tcache       = 
hw_ocache       = 
hw_parallel     = 
hw_physmem      = 
hw_disk         = 
hw_other        = 
hw_avail        =

sw_os           = 
sw_compiler     = 
sw_file         = 
sw_state        = 
sw_avail        = 

prepared_by     =
license_num     = 
tester_name     = 
test_date       = 

#----------------------------------------------------------------------
# Additional Hardware/Software Information and User Notes
#----------------------------------------------------------------------

# Currently NONE

#----------------------------------------------------------------------
# Notes numbering convention
#----------------------------------------------------------------------
# 00xx - User Notes and Compiler/Library Information
# 02xx - Additional Software Configuration Information
# 03xx - Additional Hardware Configuration Information
# 04xx - General Pre-Flag Notes
# 09xx - Base Level Optimization Flags
# 1xxx - Portability Information for the Benchmarks
# 2xxx - Optimization Flags for the Benchmarks
# 9xxx - General Post-Flag Notes

#######################################################################
# Integer Benchmarks
#######################################################################

#----------------------------------------------------------------------
# Integer Compiler
#----------------------------------------------------------------------

int=default=default=default:
notes0010 = Compilers Used: 
notes0011 = C   : gcc version 3.3 20030304 (Apple Computer, Inc. build 1809)
notes0012 = CXX : gcc version 3.3 20030304 (Apple Computer, Inc. build 1809) 
notes0015 = Compilers Invoked As: 
notes0016 = CC  : gcc
notes0017 = CXX : g++
notes0018 = BUILD : gcc1809
notes0020 = 
notes0021 = Special Libraries Linked: 
notes0022 = -lstmalloc

CC           = gcc
CXX          = g++
LIBS         = -lstmalloc

#----------------------------------------------------------------------
# Integer Base Level Optimizations
#----------------------------------------------------------------------

notes0900   = Base Level Optimization Flags: 
notes0901   = C_OPT  : (-fcreate-profile/-fuse-profile) -fast -lstmalloc 

fdo_pre0       = rm -f *.da *.db
PASS1_CFLAGS   = -fcreate-profile -fast 
PASS1_LDFLAGS  = -fcreate-profile -fast 
PASS2_CFLAGS   = -fuse-profile -fast 
PASS2_LDFLAGS  = -fuse-profile -fast 

252.eon=base=default=default:
notes0902   = CPP_OPT: (-fprofile-arcs/-freorder-blocks-and-partition) -fastf -lstmalloc

fdo_pre0       = rm -f *.da *.db
PASS1_CXXFLAGS = -fprofile-arcs -fastf 
PASS1_LDFLAGS  = -fprofile-arcs -fastf 
PASS2_CXXFLAGS = -freorder-blocks-and-partition -fastf 
PASS2_LDFLAGS  = -freorder-blocks-and-partition -fastf 

#----------------------------------------------------------------------
# Integer Portability Flags
#----------------------------------------------------------------------

int=default=default=default:
notes1000       = Portability Flags:
notes1001       = 176.gcc: -DHOST_WORDS_BIG_ENDIAN
notes1002       = 186.crafty: -DLINUX_SPARC
notes1003       = 197.parser: -D_POSIX_SOURCE
notes1004       = 252.eon: -DHAS_ERRLIST -DFMAX_IS_DOUBLE
notes1005       = 253.perlbmk: -DSPEC_CPU2000_MACOSX_PPC
notes1006       = 254.gap: -DSYS_IS_BSD -DSYS_HAS_IOCTL_PROTO
notes1007       =          -DSYS_HAS_TIME_PROTO -DSYS_HAS_SIGNAL_PROTO
notes1008       =          -DSYS_HAS_ANSI -DSYS_HAS_CALLOC_PROTO
notes1009       =          -DSYS_HAS_STDIO_PROTO

176.gcc=default=default=default:
EXTRA_CFLAGS=-DHOST_WORDS_BIG_ENDIAN
186.crafty=default=default=default:
EXTRA_CFLAGS=-DLINUX_SPARC
197.parser=default=default=default:
EXTRA_CFLAGS=-D_POSIX_SOURCE 
252.eon=default=default=default:
EXTRA_CXXFLAGS=-DHAS_ERRLIST -DFMAX_IS_DOUBLE
253.perlbmk=default=default=default: 
EXTRA_CFLAGS=-DSPEC_CPU2000_MACOSX_PPC
254.gap=default=default=default:
EXTRA_CFLAGS=-DSYS_IS_BSD -DSYS_HAS_IOCTL_PROTO -DSYS_HAS_TIME_PROTO -DSYS_HAS_SIGNAL_PROTO -DSYS_HAS_ANSI -DSYS_HAS_CALLOC_PROTO -DSYS_HAS_STDIO_PROTO

#######################################################################
# Floating Point Benchmarks
#######################################################################

#----------------------------------------------------------------------
# Floating Point Compiler
#----------------------------------------------------------------------

fp=default=default=default:
notes0010 = Compilers Used: 
notes0011 = C   : gcc version 3.3 20030304 (Apple Computer, Inc. build 1809)
notes0013 = FC  : NAGWare Fortran 95 compiler Release 5.0(400)
notes0014 = F77 : NAGWare Fortran 95 compiler Release 5.0(400)
notes0015 = Compilers Invoked As: 
notes0016 = CC  : gcc
notes0018 = FC  : /usr/local/bin/f95
notes0019 = F77 : /usr/local/bin/f95
notes0020 = BUILD : gcc1809
notes0021 = 
notes0022 = Special Libraries Linked: 
notes0023 = -lstmalloc

CC        = gcc
FC        = /usr/local/bin/f95
F77       = /usr/local/bin/f95
LIBS      = -lstmalloc

#----------------------------------------------------------------------
# Floating Point Base Level Optimizations
#----------------------------------------------------------------------

fp=base=default=default:
notes0900   = Base Level Optimization Flags: 
notes0901   = F90_OPT: (-fcreate-profile/-fuse-profile) -fast -lstmalloc

fdo_pre0       = rm -f *.da *.db
PASS1_FFLAGS   = -Wc,-fcreate-profile -fast
PASS1_LDFLAGS  = -Wl,-fcreate-profile -fast
PASS2_FFLAGS   = -Wc,-fuse-profile -fast
PASS2_LDFLAGS  = -Wl,-fuse-profile -fast

177.mesa=base=default=default:
notes0902   = 177.mesa: (-fcreate-profile/-fuse-profile) -fast -lstmalloc 

fdo_pre0       = rm -f *.da *.db
PASS1_CFLAGS   = -fcreate-profile -fast 
PASS1_LDFLAGS  = -fcreate-profile -fast 
PASS2_CFLAGS   = -fuse-profile -fast 
PASS2_LDFLAGS  = -fuse-profile -fast 

179.art=base=default=default:
notes0903   = 179.art: (-fcreate-profile/-fuse-profile) -fast -lstmalloc 

fdo_pre0       = rm -f *.da *.db
PASS1_CFLAGS   = -fcreate-profile -fast 
PASS1_LDFLAGS  = -fcreate-profile -fast 
PASS2_CFLAGS   = -fuse-profile -fast 
PASS2_LDFLAGS  = -fuse-profile -fast 

183.equake=base=default=default:
notes0904   = 183.equake: (-fcreate-profile/-fuse-profile) -fast -lstmalloc 

fdo_pre0       = rm -f *.da *.db
PASS1_CFLAGS   = -fcreate-profile -fast 
PASS1_LDFLAGS  = -fcreate-profile -fast 
PASS2_CFLAGS   = -fuse-profile -fast 
PASS2_LDFLAGS  = -fuse-profile -fast 

188.ammp=base=default=default:
notes0905   = 188.ammp: (-fcreate-profile/-fuse-profile) -fast -lstmalloc 

fdo_pre0       = rm -f *.da *.db
PASS1_CFLAGS   = -fcreate-profile -fast 
PASS1_LDFLAGS  = -fcreate-profile -fast 
PASS2_CFLAGS   = -fuse-profile -fast 
PASS2_LDFLAGS  = -fuse-profile -fast 

#----------------------------------------------------------------------
# Floating Point Portability Flags
#----------------------------------------------------------------------

fp=default=default=default:
notes1000       = Portability Flags:
notes1001       = 168.wupwise: -dusty -dcfuns
notes1002       = 178.galgel: -fixed -kind=byte -dcfuns -dusty
notes1003       = 187.facerec: -kind=byte -dusty
notes1004       = 191.fma3d: -dusty -maxcontin=69
notes1005       = 200.sixtrack: -dusty
notes1006       = 301.apsi: -dusty

168.wupwise=default=default=default:
EXTRA_FFLAGS = -dusty -dcfuns
178.galgel=default=default=default:
EXTRA_FFLAGS = -fixed -kind=byte -dcfuns -dusty
187.facerec=default=default=default:
EXTRA_FFLAGS = -kind=byte -dusty
191.fma3d=default=default=default:
EXTRA_FFLAGS = -dusty -maxcontin=69
200.sixtrack=default=default=default:
EXTRA_FFLAGS = -dusty
301.apsi=default=default=default:
EXTRA_FFLAGS = -dusty
